__pycache__
.DS_Store
practice_code.py
St_image
Figure_1.png
data
runs/trial_1/events.out.tfevents.1591160854.jarvis1121-AI-Server.12466.0
runs/trial_1/events.out.tfevents.1591161014.jarvis1121-AI-Server.12819.0
runs/trial_1/events.out.tfevents.1591161105.jarvis1121-AI-Server.13124.0
runs/trial_1/events.out.tfevents.1591161799.jarvis1121-AI-Server.13655.0
model_save/1_DistortedMNIST_R_ST-CNN.pth
model_save/1_DistortedMNIST_R_ST-CNN.pth
model_save/1_DistortedMNIST_R_ST-CNN.pth
model_save/20_DistortedMNIST_R_ST-CNN.pth
runs/trial_1/events.out.tfevents.1591169852.jarvis1121-AI-Server.25049.0
model_save/23_DistortedMNIST_R_ST-CNN.pth
model_save/22_DistortedMNIST_RTS_ST-CNN.pth
model_save/21_DistortedMNIST_RTS_ST-CNN.pth
model_save/20_DistortedMNIST_RTS_ST-CNN.pth
runs/trial_24/events.out.tfevents.1591173232.jarvis1121-AI-Server.32254.0
runs/trial_23/events.out.tfevents.1591173004.jarvis1121-AI-Server.31629.0
runs/trial_22/events.out.tfevents.1591171600.jarvis1121-AI-Server.28947.0
runs/trial_21/events.out.tfevents.1591171126.jarvis1121-AI-Server.28071.0
runs/trial_20/events.out.tfevents.1591170809.jarvis1121-AI-Server.27305.0
runs/trial_20/events.out.tfevents.1591170341.jarvis1121-AI-Server.26076.0
runs/trial_20/events.out.tfevents.1591170081.jarvis1121-AI-Server.25812.0
runs/trial_20/events.out.tfevents.1591170024.jarvis1121-AI-Server.25540.0
runs/trial_20/events.out.tfevents.1591169873.jarvis1121-AI-Server.25287.0
runs/trial_20/events.out.tfevents.1591169708.jarvis1121-AI-Server.24744.0
runs/trial_20/events.out.tfevents.1591169691.jarvis1121-AI-Server.24516.0
runs/trial_20/events.out.tfevents.1591169536.jarvis1121-AI-Server.24272.0
