__pycache__
.DS_Store
practice_code.py
St_image
Figure_1.png
data
runs/trial_1/events.out.tfevents.1591160854.jarvis1121-AI-Server.12466.0
runs/trial_1/events.out.tfevents.1591161014.jarvis1121-AI-Server.12819.0
runs/trial_1/events.out.tfevents.1591161105.jarvis1121-AI-Server.13124.0
runs/trial_1/events.out.tfevents.1591161799.jarvis1121-AI-Server.13655.0
model_save/1_DistortedMNIST_R_ST-CNN.pth
model_save/1_DistortedMNIST_R_ST-CNN.pth
model_save/1_DistortedMNIST_R_ST-CNN.pth
model_save/20_DistortedMNIST_R_ST-CNN.pth
runs/trial_1/events.out.tfevents.1591169852.jarvis1121-AI-Server.25049.0
model_save/23_DistortedMNIST_R_ST-CNN.pth
model_save/22_DistortedMNIST_RTS_ST-CNN.pth
model_save/21_DistortedMNIST_RTS_ST-CNN.pth
model_save/20_DistortedMNIST_RTS_ST-CNN.pth
runs/trial_24/events.out.tfevents.1591173232.jarvis1121-AI-Server.32254.0
runs/trial_23/events.out.tfevents.1591173004.jarvis1121-AI-Server.31629.0
runs/trial_22/events.out.tfevents.1591171600.jarvis1121-AI-Server.28947.0
runs/trial_21/events.out.tfevents.1591171126.jarvis1121-AI-Server.28071.0
runs/trial_20/events.out.tfevents.1591170809.jarvis1121-AI-Server.27305.0
runs/trial_20/events.out.tfevents.1591170341.jarvis1121-AI-Server.26076.0
runs/trial_20/events.out.tfevents.1591170081.jarvis1121-AI-Server.25812.0
runs/trial_20/events.out.tfevents.1591170024.jarvis1121-AI-Server.25540.0
runs/trial_20/events.out.tfevents.1591169873.jarvis1121-AI-Server.25287.0
runs/trial_20/events.out.tfevents.1591169708.jarvis1121-AI-Server.24744.0
runs/trial_20/events.out.tfevents.1591169691.jarvis1121-AI-Server.24516.0
runs/trial_20/events.out.tfevents.1591169536.jarvis1121-AI-Server.24272.0
model_save/25_DistortedMNIST_RTS_ST-CNN.pth
model_save/26_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_3_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_4_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_5_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_6_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_7_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_8_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_9_DistortedMNIST_RTS_ST-CNN.pth
model_save/stn_10_DistortedMNIST_RTS_ST-CNN.pth
runs/trial_25/events.out.tfevents.1591174681.jarvis1121-AI-Server.3852.0
runs/trial_25/events.out.tfevents.1591174877.jarvis1121-AI-Server.4342.0
runs/trial_25/events.out.tfevents.1591174945.jarvis1121-AI-Server.4616.0
runs/trial_25/events.out.tfevents.1591174979.jarvis1121-AI-Server.4863.0
runs/trial_26/events.out.tfevents.1591237591.jarvis1121-AI-Server.9527.0
runs/trial_27/events.out.tfevents.1591237773.jarvis1121-AI-Server.10158.0
runs/trial_stn_1/events.out.tfevents.1591187911.jarvis1121-AI-Server.6825.0
runs/trial_stn_1/events.out.tfevents.1591188922.jarvis1121-AI-Server.8817.0
runs/trial_stn_1/events.out.tfevents.1591188988.jarvis1121-AI-Server.9094.0
runs/trial_stn_1/events.out.tfevents.1591189238.jarvis1121-AI-Server.9392.0
runs/trial_stn_1/events.out.tfevents.1591189328.jarvis1121-AI-Server.9703.0
runs/trial_stn_1/events.out.tfevents.1591189370.jarvis1121-AI-Server.9935.0
runs/trial_stn_1/events.out.tfevents.1591189483.jarvis1121-AI-Server.10209.0
runs/trial_stn_10/events.out.tfevents.1591236720.jarvis1121-AI-Server.6148.0
runs/trial_stn_11/events.out.tfevents.1591236759.jarvis1121-AI-Server.6366.0
runs/trial_stn_2/events.out.tfevents.1591189536.jarvis1121-AI-Server.10763.0
runs/trial_stn_3/events.out.tfevents.1591192020.jarvis1121-AI-Server.12875.0
runs/trial_stn_4/events.out.tfevents.1591196578.jarvis1121-AI-Server.18562.0
runs/trial_stn_5/events.out.tfevents.1591196720.jarvis1121-AI-Server.19276.0
runs/trial_stn_6/events.out.tfevents.1591196896.jarvis1121-AI-Server.20187.0
runs/trial_stn_7/events.out.tfevents.1591197048.jarvis1121-AI-Server.21396.0
runs/trial_stn_8/events.out.tfevents.1591197118.jarvis1121-AI-Server.21908.0
runs/trial_stn_9/events.out.tfevents.1591236453.jarvis1121-AI-Server.5293.0
runs/trial_stn_9/events.out.tfevents.1591236523.jarvis1121-AI-Server.5547.0
